<link rel="stylesheet" href="css/altas.css">
<script src="js/agregar_user.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        $.ajaxSetup({contentType:"application/json; charset=utf-8"});
        var tags=[];
        var amigos=[];
        var id_amigos=0;
        $("#add_tag").click(function(){
            if($("#tag").val()!=""){
                var item_tag=document.createTextNode($("#tag").val());
                var list_tag=document.createElement('li');
                list_tag.appendChild(item_tag);
                document.getElementById('tags-list').appendChild(list_tag);
                tags.push($("#tag").val());
                toastr.success("Tag agregado correctamente");
                $("#tag").val("");
            }else{
                toastr.error("No se aceptan Tags vacios, Intenta de nuevo!!!");
            }
            
        });

        $("#add_friend").click(function(){
            if($("#amigo").val()!=""){
                var item_friend=document.createTextNode('ID: '+id_amigos+' Name: '+$("#amigo").val());
                var list_friend=document.createElement('li');
                list_friend.appendChild(item_friend);
                document.getElementById('friends-list').appendChild(list_friend);
                amigos.push(
                    {
                        'id':id_amigos,
                        'name':$("#amigo").val()
                    }
                );
                id_amigos++;
                toastr.success("Amigo agregado correctamente");
                $("#amigo").val("");
            }else{
                toastr.error("No se aceptan Amigos vacios, Intenta de nuevo!!!");
            }
        });
        
        $("#form_user").submit(function(e){
            e.preventDefault();
            var usuario=datos(amigos,tags);
            $.ajax({
                type:'POST',
                dataType:'json',
                data:JSON.stringify(usuario),
                url:'/usuario/add/user',
                success:(result)=>{
                    console.log("Se entra en el success ");
                    toastr.success("Usuario Agregado Correctamente");
                }
            });

        });
        $("#borrar").click(function(){
            $("#form_user")[0].reset();
            $("#tags-list li").remove();
            $("#friends-list li").remove();
        });
        
    });

</script>


<div class="container-subtitle">
    <h2 class="subtitle">
        <img src="images/add.png" alt="">
        Altas 
        <button class="btn btn-danger" id="borrar">
            Borrar
        </button>
    </h2>

    
</div>
<div class="contenedor">
    <form id="form_user">
        <div class="info">
            <div class="margen">
                <label for="balance_user"><img src="images/balance.png">
                    <b>Balance:</b> 
                </label>
                <input type="text" name="balance_user" id="balance_user" class="info-input" required>
            </div>

            <div class="margen">
                <label for="picture_user"><img src="images/picture.png">
                    <b>Picture:</b> 
                </label>
                <input type="url" name="picture_user" id="picture_user" class="info-input" required placeholder="Inserte url de la imagen">
            </div>

            <div class="margen">
                <label for="age_user"><img src="images/edad.png">
                    <b>Edad:</b> 
                </label>
                <input type="text" name="age_user" id="age_user" class="info-input" required>
            </div>

            <div class="margen">
                <label for="eye_user"><img src="images/eyes.png">
                    <b>Eye Color:</b> 
                </label>
                <input type="text" name="eye_user" id="eye_user" class="info-input" required>
            </div>

            <div class="margen">
                <label for="username">
                    <img src="images/user.png">
                    <b>Nombre:</b>
                </label>
                <input type="text" name="name" id="username" class="info-input" required>
            </div>

            <div class="margen">
                <label for="gender_user">
                    <img src="images/gender.png">
                    <b>Genero:</b>
                </label>
                <input type="text" name="gender_user" id="gender_user" class="info-input" required>
            </div>

            <div class="margen">
                <label for="company_user">
                    <img src="images/company.png">
                    <b>Compañia:</b>
                </label>
                <input type="text" name="company_user" id="company_user" class="info-input" required>
            </div>

            <div class="margen">
                <label for="email_user">
                    <img src="images/email.png">
                    <b>Email:</b>
                </label>
                <input type="email" name="email_user" id="email_user" class="info-input" required placeholder="example 124@ertert.com">
            </div>

            <div class="margen">
                <label for="phone_user">
                    <img src="images/phone.png">
                    <b>Telefono:</b>
                </label>
                <input type="text" name="phone_user" id="phone_user" class="info-input" required>
            </div>

            <div class="margen">
                <label for="address_user">
                    <img src="images/address.png">
                    <b>Direccion:</b>
                </label>
                <input type="text" name="address_user" id="address_user" class="info-input" required>
            </div>

            <div class="margen">
                <label for="about_user">
                    <img src="images/about.png">
                    <b>About:</b>
                </label>
                <input type="text" name="about_user" id="about_user" class="info-input" required>
            </div>


            <div class="margen">
                <label for="latitude_user">
                    <img src="images/coordenadas.png">
                    <b>Latitud:</b>
                </label>
                <input type="text" name="latitude_user" id="latitude_user" class="info-input" required>
            </div>

            <div class="margen">
                <label for="longitude_user">
                    <img src="images/coordenadas.png">
                    <b>Longitud:</b>
                </label>
                <input type="text" name="longitud_user" id="longitud_user" class="info-input" required>
            </div>
            
            <div class="margen">
                <div class="flex">
                    <label for="tags_user">
                        <img src="images/tag.png">
                        <b>Tags:</b>
                    </label>
                    <ul id="tags-list">
                            
                    </ul>
                </div>
            </div>

            <div class="margen">
                <div class="flex">
                    <label for="friends_user">
                        <img src="images/friends.png">
                        <b>Amigos:</b>
                    </label>
                    <ul id="friends-list">
                            
                    </ul>
                </div>
            </div>

            <div class="margen">
                <label for="saludo_user">
                    <img src="images/saludo.png">
                    <b>Saludo:</b>
                </label>
                <input type="text" name="saludo_user" id="saludo_user" class="info-input" required>
            </div>

            <div class="margen">
                <label for="fruit_user">
                    <img src="images/fruit.png">
                    <b>Fruta Favorita:</b>
                </label>
                <input type="text" name="fruit_user" id="fruit_user" class="info-input" required>
            </div>
            <div class="margen">
                <button class="btn btn-success" type="submit">
                    Agregar Usuario
                </button>
            </div>
        </div>
    </form>

    <div>
        <div class="tags">
            <h3 class="subtitle">Agregar Tag</h3>
            <label for="tag">
                <img src="images/tag.png">
                Tag:
            </label>
            <input type="text" name="tag" id="tag" class="info-input" >
            <div>
                <button class="btn btn-success" id="add_tag">
                    Agregar Tag
                </button>
            </div>
        </div>
        <div class="friends">
            <h3 class="subtitle">Agregar Amigo</h3>
            <label for="tag">
                <img src="images/friends.png">
                Amigo:
            </label>
            <input type="text" name="amigo" id="amigo" class="info-input" >
            <div>
                <button class="btn btn-success" id="add_friend">
                    Agregar Amigo
                </button>
            </div>
        </div>
        
    </div>

</div>