<link rel="stylesheet" href="css/index.css">
<div class="contenedor">
    <div class="row">
        <figure class="margin col-md">
            <img src="images/add_user.png" width="160" height="160">
            <button class="btn btn-success" id="altas">
                <p>
                    <a href="/altas">Altas</a>
                </p>
            </button>
        </figure>
        <figure class="margin col-md">
            <img src="images/update_user.png" width="160" height="160">
            <button class="btn btn-warning" id="cambios">
                <p>
                    <a href="/cambios">Cambios</a>
                </p>
            </button>
        </figure>
        <figure class="margin col-md">
            <img src="images/search_user.png" width="160" height="160">
            <button class="btn btn-info" id="consultas">
                <p>
                    <a href="/consultas">Consultas</a>
                </p>
            </button>
        </figure>
        <figure class="margin col-md">
            <img src="images/delete_user.png" width="160" height="160">
            <button class="btn btn-danger" id="bajas">
                <p>
                    <a href="/bajas">Bajas</a>
                </p>
            </button>
        </figure>
    </div>
</div>  